/* ESTILOS GLOBALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin";
    color: #ffffff;
}

h1, h2, h3 {
    font-weight: bold;
    line-height: 1.2;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 35px;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    width: 960px;
    margin: auto;
    background-color: #ebebeb;
}

/*SOCIAL MEDIA*/
.social-media {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    justify-content: center;
    z-index: 1;
}

.social-media {
    margin-left: 20px;
}

/* BANNER */
.banner {
    position: relative;
    background-image: url(/imagenes/Portada.png);
    background-position: center;
    height: 525px;
}

.banner {
    position: relative;
}

.banner h1 {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}

.banner h2 {
    position: absolute;
    bottom: 45px;
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color:rgb(22, 22, 22, 0.2);
}

/* HABILIDADES */
.habilidades {
    padding: 40px;
    background-color: #004B62;
}

.habilidades h2 {
    text-align: center;
    margin: 20px 0 50px 0;
}

.habilidades .porcentaje {
    display: flex;
    flex-wrap: wrap;
}

.habilidades .barra-titulo {
    margin-bottom: 20px;
    width: 50%;
}

.habilidades .barra-titulo:nth-child(odd) {
    padding-right: 20px;
}

.habilidades .barra-titulo:nth-child(even) {
    padding-left: 20px;
}

.habilidades .barra-titulo h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.habilidades .barra-titulo .barra {
    height: 20px;
    width: 100%;
    background-color: #ffffff;
}

.habilidades .barra-titulo .barra div {
    background-color: #222222;
    width: 50%;
    height: 100%;
}

/* SERVICIOS */
.servicios {
    background: #383838;
    padding: 40px;
    text-align: center;
}

.servicios img {
    display: block;
    margin: 0 auto 7px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}

.servicios h2 {
    text-align: center;
    margin: 20px 0 20px 0;
}

.servicios .items {
    display: flex;
    flex-wrap: wrap;
}

.servicios .items .item {
    width: 33.33%;
    margin-bottom: 10px;
    margin-top: 40px;
}

.servicios h3 {
    font-size: 25px;
}

/* PORTAFOLIO */
.portafolio {
    background-color: #004B62;
    padding: 34px;
    text-align: center;
}

.portafolio h2 {
    text-align: center;
    margin: 20px 0 55px 0;
}

.portafolio .item {
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portafolio img {
    margin: 0 40px 12px;
}

/* CLIENTES */
.clientes {
    padding: 34px 34px 96px;
    background: #383838;
    text-align: center;
}

.clientes h2 {
    margin-bottom: 22px;
    padding: 34px;
    text-align: center;
}

.clientes .items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.clientes img {
    margin: 00 10px;
}

/*CONTACTO*/
.contacto {
    padding: 34px;
    text-align: center;
    background: #004B62;
}

.contacto h2 {
    margin-bottom: 35px;
    padding: 34px;
    text-align: center;
}

.contacto .formulario {
    padding: 0 100px;
}

.contacto .control {
    padding: 20px   10px;
    border: 1px solid #ebebeb;
    width: 100%;
    color: #4c4d4c;
}

.contacto .fila {
    display: flex;
    margin: 0 -10px 20px;
}

.contacto .columna {
    width: 100%;
    padding: 0 10px;
}

.contacto button {
    padding: 20px 50px;
    background: #383838;
    border: 0;
    color: #ebebeb;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    /* BODY */
    body {
        position: relative;
        width: 100vw;
        margin: auto;
        background-color: #ebebeb;
    }

    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 30px;
    }

    /* BANNER */
    .banner {
        position: relative;
        width: 100%;
    }

    .banner img {
        position: absolute;
        left: -50%;
    }

    .banner h2 {
        position: absolute;
        bottom: 5vh;
        width: 80%;
        left: 10%;
    }

    /* HABILIDADES */
    .habilidades {
        width: 100vw;
    }

    .habilidades .porcentaje {
        padding: 0;
    }

    .habilidades .barra-titulo {
        width: 100%;
    }

    .habilidades .barra-titulo:nth-child(odd) {
        padding: 0;
    }

    .habilidades .barra-titulo:nth-child(even) {
        padding: 0;
    }

    /* SERVICIOS */
    .servicios .items .item {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* PORTAFOLIO */
    .portafolio .items {
        padding: 0;
    }

    .portafolio .img {
        width: 100%;
        height: 75%;
    }

    /* CLIENTES */
    .clientes .items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .clientes .img {
        margin: 10px 11px;
    }

    /* CONTACTOS */
    .contacto .formulario {
        padding: 0;
    }

    .contacto .fila {
        flex-wrap: wrap;
    }

    .contacto .columna {
        margin: 0 0 10px 0;
    }


}